#footer
{
    background-color: #f5f5f5;
    height: 60px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.credit
{
    margin: 20px 0;
    align: left;
}

.muted
{
    color: #999999;
}

#logged-in-info
{
float: right;
margin-top: 18px;
}

#logged-in-info form
{
display: inline-block;
margin-right: 10px;
}

ul#messages li
{
display: block;
width: 80%;
margin: 5px auto;
text-align: center;
padding: 5px;
border-radius: 5px;
}

.formError
{
    color: red;
    font-style: italic;
}
