<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title th:text="${post.title}">View Post</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" th:text="${post.title}"/>
            </div>
            <p class="panel-body" th:utext="${post.body}"/>
            <div class="panel-footer">
                <i>Posted on</i>
                <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}"/>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />

</body>

</html>