<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="site-head">
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
        <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />
        <script src="../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="../public/js/blog-scripts.js" th:src="@{/js/microblog-scripts.js}"></script>
        <meta th:include="this :: head" th:remove="tag"/>
    </head>

    <body>

    <header th:fragment="site-header">
            <header>
                <div class="container-fluid">
                    <div class="row">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="index.html" th:href="@{/}">MMs MicroBlog</a>
                                </div>
                                <ul class="nav navbar-nav">
                                    <li><a href="posts/index.html" th:href="@{/posts}">Posts</a></li>
                                    <li><a href="posts/create.html" th:href="@{/posts/new}">Add Post</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </header>

        <ul id="messages" th:with="notifyMessages=${session[T(microblog.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
            <li class="alert alert-dismissable" th:each="msg : ${notifyMessages}" th:text="${msg.text}" th:classappend="${#strings.toLowerCase(msg.type)=='error'} ? alert-danger : alert-success">
            </li>
            <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(T(microblog.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
        </ul>
        </header>
        <footer id="footer" th:fragment="site-footer">
            <div class="container-fluid">
                <p class="muted credit">MMs MicroBlog</p>
            </div>
        </footer>
    </body>
</html>